/* here are components' css */
/* Navbar css */
.NavBar {
  background-color: SteelBlue;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  position: fixed;
  font-size: 150%;
  top: 0;
  width: 100%;
}

.navList {
  display: flex;
  float: right;
  margin-right: 40px;
}

.nb-item {
  display: inline-block;
}

.nb-link {
  color: white;
  padding: 10px;
  text-decoration: none
}

.nb-link:hover {
  color: navy;
}

.active {
  background-color: plum;
}

/* Main css */
.Main {
  padding: 30px;
  margin-top: 100px;
}

.About {
  padding: 20px;
  list-style-type: none;
  justify-content: center;
  padding: 30px;
}

.Work {
  display: flex;
  justify-content: center;
}

.Work p {
  width: 45%;
  margin: 20px;
}

.Skills ul {
  display: flex;
  justify-content: center;
}

.Skills li {
  list-style-type: none;
  padding: 20px;
}

.Projects {
  padding: 20px;
  flex-wrap: wrap;
}

.Projects img {
  padding: 10px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  background-color: steelblue;
  max-width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: azure;
}

.Projects img:hover .overlay {
  opacity: 1;
}

/* Contact css */
.Contact {
  padding: 20px;
  background-color: SteelBlue;
  color: white;
}

.contact-logos {
  list-style-type: none;
}

.contact-links {
  display: inline-block;
  padding: 20px;
}

a i {
  color: white;
}
