/* Navbar css */
.navBar {
    background-color: SteelBlue;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0; 
    width: 100%;
    max-width: 880px;
    font-size: 1.4rem;
    padding-right: 2.5%;
}

.navList {
  display: flex;
}
  
.nb-link {
    padding: 10px;
}

@media (max-width: 768px) {
  .navBar {
      max-width: 768px;
      justify-content: center;
      padding: 10px;
  }

  .navList {
    justify-content: space-evenly;
  }
}

/* fix this css */
@media (max-width: 400px) {
  .navBar {
    max-width: 400px;
    padding: 20px;
  }

  .nb-item {
    font-size: 1.2rem;
  }

  .nb-link {
    padding: 5px;
  }
}