.App {
  text-align: center;
  font-family: "Courier New", courier, monospace;
  color: DimGray;
  background: whitesmoke;
  font-size: 62.5%;
}

.container {
  width: 100%;
  max-width: 880px;
  background: ivory;
  margin: auto;
}

a i {
  color: white;
}

a {
  text-decoration: none;
}
